language: node_js
services:
node_js:
  - 0.10
before_install:
  - "sudo apt-get install libzmq3-dev"
before_script:
  - npm install -g grunt-cli
  - npm install -g codeclimate-test-reporter
  - npm install -d
branches:
  only:
    - master
script:
  - "npm test"
  - "node node_modules/istanbul/lib/cli.js cover --dir build/coverage jasmine-node -- . --forceexit"
  - "CODECLIMATE_REPO_TOKEN=33713e494c429b445b85aa1ae1036c30fc601b89275a720ce27b78eee330fdf4 codeclimate < ./build/coverage/lcov.info"
